@import url("./styles/colors.css");
@import url("./styles/applets.css");
@import url("./styles/bar.css");
@import url("./styles/buttons.css");
@import url("./styles/calendar.css");
@import url("./styles/controls.css");
@import url("./styles/dashboard.css");
@import url("./styles/dock.css");
@import url("./styles/emoji.css");
@import url("./styles/extras.css");
@import url("./styles/kanban.css");
@import url("./styles/launcher.css");
@import url("./styles/metrics.css");
@import url("./styles/notch.css");
@import url("./styles/notifications.css");
@import url("./styles/overview.css");
@import url("./styles/pins.css");
@import url("./styles/player.css");
@import url("./styles/power.css");
@import url("./styles/shadows.css");
@import url("./styles/tools.css");
@import url("./styles/wallpapers.css");
@import url("./styles/systemprofiles.css");
@import url("./styles/workspaces.css");

* {
  all: unset;
  color: @foreground;
  font-size: unset;
  font-family: unset;
  border-radius: 16px;
}

#applet-stack,
#calendar,
#header,
#player,
#metrics,
#pin-cell-box,
#kanban-header {
  background-color: alpha(black, 0.5);
}

#update-window {
  background: linear-gradient(
    135deg,
    @primary 0%,
    @primary 1%,
    @shadow 1%,
    @shadow 2%,
    @outline 2%,
    @outline 3%,
    @shadow 3%,
    @shadow 4%,
    @surface-bright 4%,
    @surface-bright 5%,
    @shadow 5%,
    @shadow 6%,
    @surface 6%,
    @surface 7%,
    @shadow 7%,
    @shadow 8%,
    @shadow 93%,
    @surface 93%,
    @surface 94%,
    @shadow 94%,
    @shadow 95%,
    @surface-bright 95%,
    @surface-bright 96%,
    @shadow 96%,
    @shadow 97%,
    @outline 97%,
    @outline 98%,
    @shadow 98%,
    @shadow 99%,
    @primary 99%,
    @primary 100%
  );
  border-radius: 0;
}

#update-button {
  background-color: @primary;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: bold;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#update-button:hover {
  background-color: @foreground;
  border-radius: 8px;
}

#update-button:active {
  background-color: @primary;
}

#update-button label {
  color: @shadow;
}

#later-button {
  background-color: @surface-bright;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: bold;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#later-button:hover {
  background-color: @outline;
  border-radius: 8px;
}

#later-button:active {
  background-color: @surface-bright;
}

#toggle-updater-button {
  background-color: @surface-bright;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: bold;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#toggle-updater-button:hover {
  background-color: @outline;
  border-radius: 8px;
}
